*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background:#E9EFEFFF;
}
.wrapper .box{
    width: 200px;
    height: 200px;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.wrapper .box i{
    font-size: 80px;
    color:blue ;
    position: absolute;
    z-index: 1;
}
.wrapper .box .bxl-twitter{
    color: aqua;
}
.wrapper .box .bxl-google{
    color: burlywood;
}
.wrapper .box .bx-basketball{
    color: pink;
}
.wrapper .box .bxl-skype{
    color: rgb(0, 174, 255);
}
.wrapper .box .action{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: blue;
    z-index: 0;
    top: 200px;
    left: -250px;
border-radius: 40px;
    transform: rotate(-135deg);
}
.wrapper .twitter .action{
    background-color: aqua;
}
.wrapper .google .action{
    background-color: burlywood;
}
.wrapper .basket .action{
    background-color: pink;
}
.wrapper .skype .action{
    background-color: rgb(0, 174, 255);;
}
.wrapper .box:hover .action{
    animation: background_action 20s linear alternate infinite ;
}
.wrapper .box:hover i{
    color: white;
}
@keyframes background_action {
    0%{
        top: 200px;
 left: -250px;
    }
   2%{
    top: -85px;
        left: 0px;
   }
   2.2%{
    top: -80px;
    left: -10px;
   }
   100%{
    top: -85px;
    left: 0px;
   }
}

